@use '@styles/_variables.scss' as *;

.button {
    background-color: $secondary-color;
    width: 350px;
    height: 35px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s;
    border: none;

    &:hover {
        background-color: $primary-color;
    }
}