@use '@styles/_variables.scss' as *;


.error_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    &__title {
        font-size: 36px;
        color: $primary-color;
        margin-bottom: 20px;
    }

    &__message {
        font-size: 18px;
        color: $gray-dark;
        margin-bottom: 30px;
    }

    &__button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: $white;
        background-color: $primary-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: $primary-color-darken;
        }
    }
}