@use '@styles/_variables.scss' as *;
@use '@styles/breakpoints.scss' as *;


.header {
    background-color: $white;
    box-shadow: $shadow;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;


    @include breakpoint-mobile-sm() {
        display: grid;
        place-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
    }
}